extends ../layout 

block content 
    h1=title
    p=category.description
    a(href=`${category.url}/update`) Edit this category 
    a(href=`${category.url}/delete`) Delete this category
    if items.length
        ol 
        each item in items 
            li
                a(href=item.url) #{item.name}
    else
        p This category has no items associated with it.
    